body {
font-family: 'Roboto', sans-serif;
}

.creditos {
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    padding: 10px;
    text-align: right;
}

#logo-principal {
    width: 225px;
    height: 225px;
}